.arrowBack__Icon {
  cursor: pointer;
  color: white;
  margin: 0 auto;
  width: 1000px;
  position: relative;
  top: 80px;
  left: 12px;
  font-size: 28px;
}

.movieInfo__container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .movieInfo__container {
    height: 1200px;
  }
  .movieInfo__wrapper {
    height: 1000px;
  }
  .movieInfo__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .movieInfo__poster {
    height: 300px;
    width: 250px;
    margin-left: 20px;
  }
}

.movieInfo__wrapper {
  height: 800px;
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}
.movieInfo__poster {
  height: 500px;
  width: 450px;
  border-radius: 20px;
  object-fit: fill;
  /* padding: 0 48px; */
}

.movieInfo__data {
  color: white;
  margin-left: 40px;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.movieInfo__data--para {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

p {
  margin: 8px 0;
  font-size: 20px;
}

.movieInfo__data--descriptors {
  font-weight: bold;
  color: lightskyblue;
}

.movieInfo__data--plot {
  padding: 12px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggested__row {
  width: 100%;
  max-width: 1000px;
  height: 400px;
}

.suggested__title {
  text-align: center;
  color: white;
  font-size: 24px;
  padding-bottom: 50px;
}

.movie__row {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.movie__item--skeleton {
  margin: 0 auto;
  background-color: lightgrey;
  height: 300px;
  width: 200px;
  border-radius: 20px;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position: 100% 0, /* move highlight to right */ 0 0;
  }
}

/* Movie Skeleton */

.movie__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie__title--skeleton {
  margin-top: 20px;
  width: calc(100% / 2);
  height: 16px;
  background-color: lightgray;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

.movie__body {
  padding: 0 8px;
}

.movie__body--skeleton {
  width: 285px;
  height: 420px;
  background-color: lightgray;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

/* MovieInfo Skeleton */

.movieInfo__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 8px;
}

.movieInfo__title--skeleton {
  margin-top: 20px;
  width: 540px;
  height: 20px;
  background-color: lightgray;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

.movieInfo__body {
  padding: 0 8px;
}

.movieInfo__body--skeleton {
  background-color: lightgray;
  height: 500px;
  width: 400px;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

.movieInfo__data--paraskeleton {
  background-color: lightgray;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

/* MovieInfo Title and Description Skeleton */

.movieInfo__title--top,
.movieInfo__title--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 8px;
}

.movieInfo__title--skeleton--top {
  margin-top: 20px;
  width: 540px;
  height: 72px;
  background-color: lightgray;
  margin-bottom: 24px;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

.movieInfo__title--skeleton--bottom {
  margin-top: 20px;
  width: 540px;
  height: 50px;
  background-color: lightgray;
  margin-top: 24px;
  padding-top: 12px;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;
  animation: shine 1s infinite;
}
