a {
  cursor: pointer;
}
.movie {
  position: relative;
}
.movie__info {
  position: absolute;
  top: 200px;
  left: 40px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.movie__title--info h6 {
  font-size: 16px;
  color: lightgrey;
  font-weight: 400;
  padding-top: 5px;
}

.imdb {
  padding-top: 10px;
  color: white;
}

.imdb__img {
  padding-top: 5px;
  width: 30px;
  padding-right: 5px;
}

.movie__title--info h4 {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.movie__buttons {
  padding-left: 60px;
}

.watch__now {
  background-color: red;
  border: none;
  opacity: 70%;
  width: 140px;
  height: 45px;
  border-radius: 3em;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.watchlist {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-left: 10px;
  width: 45px;
  height: 45px;
  border-style: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.cover__skeleton {
  width: 550px;
  max-height: 320px;
  background-color: lightgrey;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;
  animation: shine 1s infinite;
}
@keyframes shine {
  to {
    background-position: 100% 0, /* move highlight to right */ 0 0;
  }
}

.cover {
  max-width: 500px;
  margin: 0 10px;
  max-height: 320px;
  background-size: cover;
  background-position: center;
  opacity: 90%;
  border-radius: 20px;
}
