a {
  text-decoration: none;
  color: grey;
}

a:active {
  color: white;
}

a:hover {
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

li {
  padding: 20px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}
.avatar__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  padding-left: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 660px) {
  .avatar__title {
    display: none;
    transition: all 300 ease;
  }
  .dropdown {
    padding-left: 10px;
  }
}

.avatar__title {
  padding-left: 10px;
  font-size: 14px;
  color: white;
  letter-spacing: 0.5px;
}

.avatar__title h4 {
  font-size: 12px;
  padding-top: 5px;
  color: grey;
}

.solid {
  margin-top: 20px;
  content: "";
  border-top: 2px solid #454545;
}

@media (max-width: 600px) {
  .nav__item:not(:last-child) {
    display: none;
  }
  .main__title {
    display: flex;
    flex-direction: column;
  }

  .movies {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .movie__img--wrapper {
    padding-left: 30px;
  }
  .movie__title {
    padding-left: 180px;
  }
  .movie__row {
    flex-wrap: wrap;
  }
  .movie__item--skeleton:nth-child(odd) {
    display: none;
  }
  .movieInfo__poster {
    width: 95%;
  }
  .movieInfo__data {
    padding-right: 20px;
  }
}
